
    <footer class="footer">
      <div class="container">
        <span class="text-muted">ICTS Biomedical Informatics</span>
      </div>
    </footer>

    <script type="text/javascript" src="{{contextPath}}/tools/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="{{contextPath}}/tools/diff/dist/diff.js"></script>
    <script type="text/javascript" src="{{contextPath}}/tools/popper.js/dist/popper.js"></script>
    <script type="text/javascript" src="{{contextPath}}/tools/bootstrap/dist/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="{{contextPath}}/javascripts/diff.js"></script> 
