extends layout

block content

  h1 '#{note.noteType}' De-Identified
  p Date: #{note.noteDts}
  pre#display

  div#wrapper
    #note_rpt_txt.noteText
      h2 Identified Note
      p#ident!= note.noteText
    #note_rpt_txt_deid.noteText
      h2 DeIdentified Note
      p#deid!=  note.noteRptTxtDeid

  script(type='text/javascript', src='/javascripts/diff.js')

