doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/node_modules/jquery/dist/jquery.js')
    script(type='text/javascript', src='/node_modules/diff/dist/diff.js')
  body
    block content
